In [23]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [24]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zhigansk,RU,2021-01-30 17:00:04,66.7697,123.3711,-47.20,75,96,4.07
1,1,Ushuaia,AR,2021-01-30 16:58:14,-54.8000,-68.3000,51.80,62,20,27.63
2,2,Mataura,NZ,2021-01-30 17:00:06,-46.1927,168.8643,48.00,80,50,8.01
3,3,Albany,US,2021-01-30 16:58:13,42.6001,-73.9662,16.00,51,0,1.99
4,4,Westport,US,2021-01-30 17:00:07,41.1415,-73.3579,24.01,42,1,16.11

In [25]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
# Configure gmpas to use your Google API key
gmaps.configure(api_key=g_key)

In [27]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [45]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Panama City,PA,2021-01-30 16:56:49,8.9936,-79.5197,89.60,54,20,9.22
10,10,Carnarvon,AU,2021-01-30 17:00:11,-24.8667,113.6333,84.20,58,30,6.91
14,14,Atuona,PF,2021-01-30 17:00:13,-9.8000,-139.0333,78.44,77,38,17.00
19,19,Kalabo,ZM,2021-01-30 17:00:15,-14.9700,22.6814,75.56,77,77,4.54
24,24,Kinango,KE,2021-01-30 17:00:17,-4.1372,39.3153,82.40,69,40,11.50
28,28,Alofi,NU,2021-01-30 17:00:17,-19.0595,-169.9187,75.20,100,100,6.91
33,33,Avarua,CK,2021-01-30 17:00:18,-21.2078,-159.7750,75.20,94,98,1.14
34,34,Natal,BR,2021-01-30 17:00:18,-5.7950,-35.2094,87.80,62,40,17.27
41,41,Kimbe,PG,2021-01-30 17:00:19,-5.5502,150.1429,77.92,87,93,4.70
45,45,Bandarbeyla,SO,2021-01-30 17:00:20,9.4942,50.8122,75.02,71,0,14.38

In [46]:
preferred_cities_df.count()

City_ID       168
City          168
Country       166
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [49]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, lat and longitude
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df

            City Country  Max Temp      Lat       Lng
9    Panama City      PA     89.60   8.9936  -79.5197
10     Carnarvon      AU     84.20 -24.8667  113.6333
14        Atuona      PF     78.44  -9.8000 -139.0333
19        Kalabo      ZM     75.56 -14.9700   22.6814
24       Kinango      KE     82.40  -4.1372   39.3153
..           ...     ...       ...      ...       ...
568        Praia      CV     80.60  14.9215  -23.5087
569    Inhambane      MZ     86.00 -23.8650   35.3833
570    Tchollire      CM     88.41   8.4022   14.1698
574      Itagiba      BR     86.40 -14.2836  -39.8428
575   Itapetinga      BR     83.07 -15.2489  -40.2478

[168 rows x 5 columns]

In [60]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [61]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our latitude and Longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Mark request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print ("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [62]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Panama City,PA,89.60,8.9936,-79.5197,Trump International Hotel & Tower Panama
10,Carnarvon,AU,84.20,-24.8667,113.6333,Hospitality Carnarvon
14,Atuona,PF,78.44,-9.8000,-139.0333,Villa Enata
19,Kalabo,ZM,75.56,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
24,Kinango,KE,82.40,-4.1372,39.3153,Legacy Hotel
28,Alofi,NU,75.20,-19.0595,-169.9187,Taloa Heights
33,Avarua,CK,75.20,-21.2078,-159.7750,Paradise Inn
34,Natal,BR,87.80,-5.7950,-35.2094,Villa Park Hotel | Natal
41,Kimbe,PG,77.92,-5.5502,150.1429,Kimbe Bay Hotel
45,Bandarbeyla,SO,75.02,9.4942,50.8122,JABIR HOTEL

In [65]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}F</dd>
</dl>
"""

In [73]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [74]:
# Add a heatmap of temperature for the vacations spots and a pop-up marker for the cities
location = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))